body {
    margin: 0px;
    margin-bottom: 0px;
}
/* Nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: black;
}
.left {
    display: flex;
}
.nav > .left > div {
    margin-right: 20px;
    font-size: large;
}
.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link a {
    color: wheat;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link:hover {
    border-bottom: 1px solid white;
}
.nav-link a:hover {
    color: white;
}
.right {
    float: right;
}
.name {
    text-align: top;
    font-size: large;
}
.Head {
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
}
/* grid styles */
.item {
    margin-left: 10%;
    word-wrap: break-word;
    height: auto;
    font-size: x-large;
}
.item1 {
    word-wrap: break-word;
    margin-left: 10%;
    height: auto;
    font-size: x-large;
    text-align: left;
}
.item2 {
    word-wrap: break-word;
    text-align: left;
    margin-left: 10%;
    height: auto;
    font-size: x-large;
}
.item-con1 {
    background-image: linear-gradient(silver, gray);
    border: 1.5px solid black;
}
.item-con2 {
    background-image: linear-gradient(white, whitesmoke);
    border: 1.5px solid black;
}
.item-con3 {
    background-image: linear-gradient(silver, gray);
    border: 1.5px solid black;
}
.item-con4 {
    background-image: linear-gradient(white, whitesmoke);
    border: 1.5px solid black;
}
.item-con5 {
    background-color: white;
    border: 1.5px solid black;
}
.item-con6 {
    background-image: linear-gradient(white, whitesmoke);
    border: 1.5px solid black;
}
.item-con7 {
    background-image: linear-gradient(silver, gray);
    border: 1.5px solid black;
}
.item-con8 {
    background-image: linear-gradient(white, whitesmoke);
    border: 1.5px solid black;
}
.item-con9 {
    background-image: linear-gradient(silver, gray);
    border: 1.5px solid black;
}
.item3 {
    word-wrap: break-word;
    margin-left: 10%;
    font-size: x-large;
}
.item4 {
    word-wrap: break-word;
    font-size: x-large;
}
.item5 {
    word-wrap: break-word;
    margin-left: 10%;
    font-size: x-large;
}
.item6 {
    word-wrap: break-word;
    margin-left: 10%;
    font-size: x-large;
}
.item7 {
    word-wrap: break-word;
    margin-left: 10%;
    font-size: x-large;
}
.item8 {
    word-wrap: break-word;
    margin-left: 10%;
    font-size: x-large;
}
/* about me styles */
.ab-me {
    height: 25%;
    margin-top: 2.5%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.bio-div {
    text-align: center;
    word-wrap: break-word;
    font-size: x-large;
}
.full-content {
    display: grid;
    grid-template-columns: auto auto auto;
}
.img {
    width: 100%;
    height: 100%;
}
.vid {
    width: 100%;
    height: 100%;
}
.name-1 {
    float:left;
    padding-left: 37%;
    font-size: larger;
}
.name-2 {
    float: right;
    padding-right: 37%;
    font-size: larger;
}
.about{
    text-align: center;
}
